.common-error-toasted {
  &.toasted-container {
    &.top-right {
      top: 10px;
      right: 20px;
      opacity: 0.9;
      .toasted {
        background-color: #ea5455;
      }
    }
  }
}

.common-success-toasted {
  &.toasted-container {
    &.top-right {
      top: 10px;
      right: 20px;
      opacity: 0.9;
      .toasted {
        background-color: #28c76f;
      }
    }
  }
}
